<mat-card class="details-card">
    <mat-card-header>
        <div class="center-item">
            <h2 class="title">Dodawanie dodatkowej opłaty</h2>
        </div>
        <button mat-icon-button class="close-button" (click)="closeDialog()">
            <mat-icon>close</mat-icon>
        </button>
    </mat-card-header>
    <mat-card-content>
        <form class [formGroup]="editFeeForm">
            <mat-card class="form-card">
                <mat-card-content>
                    <div>
                        <mat-form-field class="full-width">
                            <mat-label>Nazwa</mat-label>
                            <input matInput type="string" placeholder="Nazwa" formControlName="name">
                            <mat-error *ngFor="let error of validationErrors('name')">
                                {{ error.message }}
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="full-width">
                            <mat-label>Rodzaj opłaty</mat-label>
                            <ng-container>
                                <mat-select formControlName="type">
                                    <mat-option *ngFor="let option of Object.values(TypeOfFee)" [value]="option">
                                        {{ option}}
                                    </mat-option>
                                </mat-select>
                            </ng-container>
                            <mat-error *ngFor="let error of validationErrors('type')">
                                {{ error.message }}
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="full-width">
                            <mat-label>Kwota</mat-label>
                            <input matInput type="number" placeholder="Kwota" formControlName="value">
                            <mat-error *ngFor="let error of validationErrors('value')">
                                {{ error.message }}
                            </mat-error>
                        </mat-form-field>
                    </div>
                </mat-card-content>
            </mat-card>
            <div class="center-button">
                <app-text-button type="submit" aria-label="Dodaj" [text]="'Dodaj'" [color]="'primary'"
                                 (click)="addPayment()"></app-text-button>
            </div>
        </form>
    </mat-card-content>
</mat-card>
