<div class="page-container">
    <div [ngSwitch]="true">
        <div *ngSwitchDefault>
            <mat-card class="details-card">
                <mat-card-header>
                    <div class="center-item">
                        <h2 class="title">Dodatkowe opłaty</h2>
                    </div>
                    <button mat-icon-button class="close-button" (click)="closeDialog()">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-card-header>
                <mat-card-content>
                    <mat-card class="tabel-card">
                        <mat-card-header>
                        </mat-card-header>
                        <mat-card-content>
                            <table mat-table [dataSource]="dataSource" class="mainTable">
                                <ng-container matColumnDef="name">
                                    <th mat-header-cell *matHeaderCellDef>Nazwa</th>
                                    <td mat-cell *matCellDef="let fee">{{ fee.name }}</td>
                                </ng-container>
                                <ng-container matColumnDef="type">
                                    <th mat-header-cell *matHeaderCellDef>Rodzaj opłaty</th>
                                    <td mat-cell *matCellDef="let fee" [textContent]="fee.type"></td>
                                </ng-container>
                                <ng-container matColumnDef="value">
                                    <th mat-header-cell *matHeaderCellDef>Kwota</th>
                                    <td mat-cell *matCellDef="let fee" [textContent]="fee.value+' zł'"></td>
                                </ng-container>
                                <ng-container matColumnDef="edit">
                                    <th mat-header-cell *matHeaderCellDef></th>
                                    <td mat-cell *matCellDef="let fee">
                                        <button mat-fab color="primary" aria-label="Edytuj" class="deleteButton"
                                                (click)="editPayment(fee)">
                                            <mat-icon>edit</mat-icon>
                                        </button>
                                    </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let gardenPlot; columns: displayedColumns"></tr>
                            </table>
                        </mat-card-content>
                    </mat-card>
                </mat-card-content>
                <div class="center-button">
                    <app-text-button type="submit" class="add-button" aria-label="Dodaj dodatkową opłatę"
                                     [text]="'Dodaj dodatkową opłatę'" [color]="'primary'"
                                     (click)="showAddPayment()"></app-text-button>
                </div>
            </mat-card>
        </div>
        <div *ngSwitchCase="isShowAddPayment">
            <app-add-additional-fees (closeDialogOutput)="closeDialog()"></app-add-additional-fees>
        </div>
        <div *ngSwitchCase="isShowEditPayment">
            <app-editing-single-additional-fee [payment]="currentFee"
                                               (closeDialogOutput)="closeDialog()"></app-editing-single-additional-fee>
        </div>
    </div>
</div>
