@import '../../../../assets/theme.scss';

.details-card {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  max-height: 90vh;
  overflow-y: auto;
  -webkit-box-shadow: 0px 3px 15px -1px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 3px 15px -1px rgba(66, 68, 90, 1);
  box-shadow: 0px 3px 15px -1px rgba(66, 68, 90, 1);
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 1%;
  margin-top: 30px;
  background-color: map-get($rod-manager-ui-primary, 50);
}

@media only screen and (max-width: 750px) {
  .details-card {
    width: 100%;
  }
}

$background: #EEE;

.form-card {
  width: 100%;
  align-self: center;
  -webkit-box-shadow: 0px 3px 15px -1px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 3px 15px -1px rgba(66, 68, 90, 1);
  box-shadow: 0px 3px 15px -1px rgba(66, 68, 90, 1);
  align-content: center;
  margin-top: 4%;
  margin-bottom: 4%;
  padding: 2%;
  background-color: $background;
}

.center-item {
  flex: 1;
  width: 80%;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.title {
  text-align: center;
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
}

.center-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}

.center-item {
  flex: 1;
  width: 80%;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.full-width {
  flex: 1;
  margin-right: 10px;
  width: 100%;
}
