<div class="person-card">
  <div class="position">
    {{ position }}
  </div>
  <div>
    <div>
      <mat-grid-list cols="4" rowHeight="7:3">
        <mat-grid-tile colspan="1">
          <mat-icon>person</mat-icon>
        </mat-grid-tile>
        <mat-grid-tile colspan="3">
          <div class="text">
            {{ name }}
          </div>
        </mat-grid-tile>
        <mat-grid-tile colspan="1">
          <mat-icon>phone</mat-icon>
        </mat-grid-tile>
        <mat-grid-tile colspan="3">
          <div class="text">
            {{ phoneNumber }}
          </div>
        </mat-grid-tile>
        <mat-grid-tile colspan="1">
          <mat-icon>email</mat-icon>
        </mat-grid-tile>
        <mat-grid-tile colspan="3">
          <div class="text">
            {{ email }}
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
    <div>
    </div>
  </div>
</div>

