.person-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  min-height: 90%;
}

.position {
  font-weight: bold;
  font-size: var(--20-font);
  text-align: center;
  margin-bottom: 5px;
}

.text {
  font-size: var(--16-font);
}

mat-grid-tile {
  border: 0.01px solid #eee;
}
@media only screen  and (max-width: 400px) {
  .person-card {
    padding: 5px;
    margin: 5px;
  }
  .position {
    font-size: var(--16-font);
    margin-bottom: 1px;
  }
  .text {
    font-size: var(--12-font);
  }
}
@media only screen and (min-width: 400px) and (max-width: 551px) {
  .person-card {
    padding: 5px;
    margin: 5px;
  }
  .position {
    font-size: var(--18-font);
    margin-bottom: 1px;
  }
  .text {
    font-size: var(--14-font);
  }
}
@media only screen and (min-width: 551px) and (max-width: 700px) {
  .person-card {
    padding: 5px;
    margin: 5px;
  }
  .position {
    font-size: var(--14-font);
    margin-bottom: 1px;
  }
  .text {
    font-size: var(--10-font);
  }
}
@media only screen and (min-width: 700px) and (max-width: 850px) {
  .person-card {
    padding: 5px;
    margin: 5px;
  }
  .position {
    font-size: var(--16-font);
    margin-bottom: 1px;
  }
  .text {
    font-size: var(--12-font);
  }
}
