<ngx-spinner bdColor = "rgba(0, 0, 0, 0.3)" size = "large" color = "#009688" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Ładowanie </p></ngx-spinner>
<div class="page-container">
  <mat-card class="large-card-size">
    <mat-card-header>
      <div class="center-item">
        <h2 class="title">Lista działek</h2>
      </div>
    </mat-card-header>
    <mat-card-content>
      <table mat-table [dataSource]="dataSource" class="mainTable">
        <ng-container matColumnDef="sector">
          <th mat-header-cell *matHeaderCellDef>Sektor</th>
          <td mat-cell *matCellDef="let gardenPlot">{{ gardenPlot.sector }}</td>
        </ng-container>

        <ng-container matColumnDef="avenue">
          <th mat-header-cell *matHeaderCellDef>Aleja</th>
          <td mat-cell *matCellDef="let gardenPlot">{{ gardenPlot.avenue }}</td>
        </ng-container>

        <ng-container matColumnDef="number">
          <th mat-header-cell *matHeaderCellDef>Numer</th>
          <td mat-cell *matCellDef="let gardenPlot">{{ gardenPlot.number }}</td>
        </ng-container>

        <ng-container matColumnDef="area">
          <th mat-header-cell *matHeaderCellDef>Powierzchnia</th>
          <td mat-cell *matCellDef="let gardenPlot">{{ gardenPlot.area + ' m²' }}</td>
        </ng-container>

        <ng-container matColumnDef="leaseholder">
          <th mat-header-cell *matHeaderCellDef>Dzierżawca</th>
          <td mat-cell *matCellDef="let gardenPlot">
            <!--            {{ getLeaseholderName(gardenPlot.leaseholderID) }}-->
            <!--            dla danych z backendu:-->
            {{ gardenPlot.leaseholder }}
          </td>
        </ng-container>


        <ng-container matColumnDef="add">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let gardenPlot" class="icon-size">
            <button mat-icon-button class="icon-button" (click)="selectAddingLeaseHolder(gardenPlot)">
              <mat-icon>add</mat-icon>
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>Status</th>
          <td mat-cell *matCellDef="let gardenPlot">{{ gardenPlot.gardenStatus }}</td>
        </ng-container>

        <ng-container matColumnDef="info">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let gardenPlot" class="icon-size">
            <button mat-icon-button class="icon-button" (click)="selectDetails(gardenPlot)">
              <mat-icon>info</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let gardenPlot; columns: displayedColumns"></tr>
      </table>
      <app-paginator
        #paginator
        [loadDataFunction]="fetchData.bind(this)"
        [totalItemsCount]="this.totalGardenCount"
        [pageSize]="this.defoultpageSize"
      ></app-paginator>
    </mat-card-content>
  </mat-card>
</div>


<button mat-fab color="primary" class="floating-button" (click)="selectAddingGardenPlot()"
        *ngIf="!(showDetails || showAddingLeaseHolder || showAddingGardenPlot)">
  <mat-icon>add</mat-icon>
</button>
