@import '../../../assets/theme.scss';

.page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.large-card-size {
  width: 70%;
  align-self: center;
  -webkit-box-shadow: 0 3px 15px -1px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0 3px 15px -1px rgba(66, 68, 90, 1);
  box-shadow: 0 3px 15px -1px rgba(66, 68, 90, 1);
  align-content: center;
  margin-top: 5%;
  margin-bottom: 5%;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 30px;
}

.small-card-size {
  //max-width: 600px;
  width: 85%;
  align-self: center;
  -webkit-box-shadow: 0 3px 15px -1px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0 3px 15px -1px rgba(66, 68, 90, 1);
  box-shadow: 0 3px 15px -1px rgba(66, 68, 90, 1);
  align-content: center;
  margin-top: 2%;
  margin-bottom: 1%;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 30px;
}

.table-mat {
  overflow: auto;
}

.payment-date-card {
  max-width: 450px;
  width: 65%;
  -webkit-box-shadow: 0 3px 15px -1px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0 3px 15px -1px rgba(66, 68, 90, 1);
  box-shadow: 0 3px 15px -1px rgba(66, 68, 90, 1);
  margin-top: 2%;
  margin-bottom: 1%;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 30px;
}

.payment-Utility-Values-card {
  max-width: 400px;
  width: 55%;
  -webkit-box-shadow: 0 3px 15px -1px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0 3px 15px -1px rgba(66, 68, 90, 1);
  box-shadow: 0 3px 15px -1px rgba(66, 68, 90, 1);
  margin-top: 2%;
  margin-bottom: 1%;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 30px;
}

.individual-payments-card {
  max-width: 550px;
  width: 70%;
  -webkit-box-shadow: 0 3px 15px -1px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0 3px 15px -1px rgba(66, 68, 90, 1);
  box-shadow: 0 3px 15px -1px rgba(66, 68, 90, 1);
  margin-top: 2%;
  margin-bottom: 1%;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 30px;
}

tr {
  position: relative;
}

tr::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px; /* Wysokość paska */
  background-color: #ccc; /* Kolor paska */
}

.center-item {
  flex: 1;
  width: 80%;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.title {
  text-align: center;
  font-size: var(--30-font);
}

.small-title {
  text-align: left;
  font-size: var(--22-font);
}
.very-small-title {
  text-align: left;
  font-size: var(--13-font);
}

.editButton {
  position: absolute;
  right: -60px;
  bottom: 0;
  scale: 0.7;
}

.setSize {
  width: 50%;
}

.setSize2 {
  width: 30%;
}

.setSize3 {
  width: 20%;
}

.name {
  width: 50%;
}

.type-of-payment {
  width: 35%;
}

.amount {
  width: 25%;
}
.amount-form {
  max-width: 10rem;
}


.remove-button {
  width: 10%;
}

.date {
  color: red;
  font-size: var(--20-font);
  padding: 5px;
}

.value-in-red {
  color: red;
  font-weight: bold; /* Opcjonalnie: pogrubienie tekstu */
  margin-left: 10px;
}

.payments {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-button {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
  margin-bottom: 10px;
}

.center-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}

.small-text{
  font-size: var(--11-font);
}

.individual-payments-button{
  max-width: 80%;
  min-height: 50px; /* Minimalna wysokość przycisku */
  display: flex; /* Ustawienie na flexbox */
  align-items: center; /* Wyśrodkowanie zawartości w pionie */
  justify-content: center; /* Wyśrodkowanie zawartości w poziomie */

  font-size: var(--14-font);; /* Set the font size */
  font-weight: 500; /* Set the font weight */
  text-transform: uppercase; /* Make text uppercase */
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
}
.full-width {
  flex: 1;
  margin-right: 10px; /* Adjust as needed for spacing */
  width: 100%;
}

.separator {
  border-bottom: 1px solid #ccc; /* Możesz dostosować kolor i grubość linii według potrzeb */
  width: 100%; /* Dostosowanie szerokości paska */
  margin-bottom: 10px; /* Odstęp między paskiem a treścią */
}


@media only screen and (max-width: 600px) {
  .large-card-size {
    width: 95%;
    padding-left: 0;
    padding-right: 0;
  }
  .small-card-size, .payment-date-card, .individual-payments-card, .payment-Utility-Values-card {
    width: 99%;

  }
  .editButton {
    right: -20px;
  }
}

.period-selector {
  display: flex; /* Enables Flexbox */
  align-items: center; /* Aligns items vertically in the center */
  justify-content: center; /* Centers items horizontally in the container */

  .span-container {
    padding-top: 12px;
    padding-bottom: 12px;
    font-weight: bold;
  }
}


