<ngx-spinner bdColor="rgba(0, 0, 0, 0.3)" size="large" color="#009688" type="square-jelly-box" [fullScreen]="true"><p
  style="color: white"> {{spinerMassage}} </p></ngx-spinner>

<div class="page-container">
  <mat-card class="details-card">
    <mat-card-header>
      <div class="center-item">
        <h2
          class="title">{{ 'Historia płatności' }}</h2>
      </div>
      <button mat-icon-button class="close-button" (click)="closeEditingPayments()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-card-header>

    <div [ngSwitch]="true">
      <div *ngSwitchCase="showPaymentHistory">
        <div *ngIf="!showNewPaymentForm;">
          <mat-card class="tabel-card">
            <mat-card-content>
              <app-garden-plot-details-payment-history
                [userId]="profileID"
                class="payment-history">
              </app-garden-plot-details-payment-history>
            </mat-card-content>
          </mat-card>
          <div class="center-button">
            <app-text-button [text]="'Wprowadź nową płatność'" [color]="'accent'"
                             (click)="showNewPaymentForm=true"></app-text-button>
          </div>
        </div>
        <div *ngIf="showNewPaymentForm;">
          <mat-card>
            <mat-card-content>
              <form class="form-container" [formGroup]="paymentForm">
                <div class="row-container">
                  <div class="row-item">
                    <mat-form-field class="full-width">
                      <mat-label>Kwota</mat-label>
                      <input matInput type="number" placeholder="Kwota" formControlName="amount">
                      <mat-hint style="white-space: pre-line;">Wprowadź liczbę, np. 123.45</mat-hint>
                      <mat-error *ngFor="let error of validationErrors('amount')">{{ error.message }}</mat-error>
                    </mat-form-field>
                    <mat-form-field class="full-width">
                      <mat-label>Rodzaj</mat-label>
                      <mat-select formControlName="type">
                        <mat-option *ngFor="let option of yourEnumOptions" [value]="option.value">{{ option.label }}</mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-form-field class="full-width">
                      <mat-label>Data</mat-label>
                      <input matInput [matDatepicker]="picker" placeholder="Data" formControlName="date" [min]="minDate" required>
                      <mat-hint>DD.MM.YYY</mat-hint>
                      <mat-error *ngFor="let error of validationErrors('date')">
                        {{ error.message }}
                      </mat-error>
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field class="full-width">
                      <mat-label>Opis</mat-label>
                      <input matInput type="text" placeholder="Opis" formControlName="description">
                      <mat-error *ngFor="let error of validationErrors('description')">
                        {{ error.message }}
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
                <div class="center-button">
                  <app-text-button type="submit" class="add-button" [text]="'Dodaj płatność'" [color]="'accent'"
                                   (click)="addNewPayment()"></app-text-button>
                </div>
              </form>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </mat-card>
</div>
