<mat-dialog-content>
    <h1 mat-dialog-title class="title">Ustaw termin płatności</h1>
    <div mat-dialog-content>
        <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Wybierz datę" [(ngModel)]="selectedDate" [min]="minDate">
            <mat-hint>DD/MM/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </div>
</mat-dialog-content>


<mat-dialog-actions align="center" class="mat-actions col-container">
    <app-text-button mat-dialog-close class="cancel-button" className="action-button" [text]="'Anuluj'"
                     [color]="'accent'"></app-text-button>
    <app-text-button class="submit-button" className="action-button"
                     [text]="'Zapisz'" [color]="'primary'" (click)="onConfirm()"></app-text-button>
</mat-dialog-actions>
