<ngx-spinner bdColor = "rgba(0, 0, 0, 0.9)" size = "large" color = "#009688" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Ustawianie nowgo hasła </p></ngx-spinner>

<div class="page-container">
    <mat-card appearance="outlined" class="large-card large-card-size row-container">
        <mat-card-header class="row-item">
            <div class="row-item">
                <h2 class="title">Reset hasła</h2>
            </div>
        </mat-card-header>
        <mat-card-content class="row-item card-content-spacing">
            <form class="form-container" [formGroup]="resetPasswordFrom">
                <div class="row-container">
                    <div class="row-item">
                        <mat-form-field class="full-width">
                            <input matInput type="password" formControlName="password" placeholder="Hasło" required autocomplete="new-password">
                            <mat-label>Hasło</mat-label>
                            <mat-error *ngFor="let error of validationErrors('password')">
                                {{ error.message }}
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="row-item">
                        <mat-form-field class="full-width">
                            <input matInput type="password" formControlName="confirmPassword" placeholder="Powtórz hasło" required>
                            <mat-label>Powtórz hasło</mat-label>
                            <mat-error *ngFor="let error of validationErrors('confirmPassword')">
                                {{ error.message }}
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="row-item button-section">
                        <button mat-raised-button class="button" color="primary" type="submit" (click)="confirm()">
                            POTWIERDŹ
                        </button>
                    </div>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>

