.form-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.full-width {
  flex: 1;
  margin-right: 10px; /* Adjust as needed for spacing */
  width: 100%;
}

.page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.large-card-size {
  width: 60%;
  max-width: 600px;
  align-self: center;
  -webkit-box-shadow: 0px 3px 15px -1px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 3px 15px -1px rgba(66, 68, 90, 1);
  box-shadow: 0px 3px 15px -1px rgba(66, 68, 90, 1);
  align-content: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* This ensures the container takes up the full height of the viewport */
}

.row-container {
  display: flex; /* Use flexbox for layout */
  flex-direction: column; /* Arrange items in a row */
  justify-content: space-between; /* Distribute items evenly along the row */
  width: 100%;
  align-items: center;
}

.row-item {
  flex: 1; /* Allow items to grow and take equal space */
  margin-right: 10px; /* Adjust as needed for spacing between items */
  width: 80%;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.card-content-spacing {
  margin-bottom: 5%;
}

.button-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1; /* Allow items to grow and take equal space */
  margin-right: 10px; /* Adjust as needed for spacing between items */
  width: 80%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.title {
  text-align: center;
}

.button {
  flex: 1;
  width: 60%;
}

@media only screen and (max-width: 750px) {
  .large-card-size{
    width: 100%;
  }
  .button{
    width: 90%;
  }
  .button-section{
    width: 90%;
  }
  .row-item{
    width: 90%;
  }
}


