.rest {
  padding-top: 62px;
  height: 100%;
}

/* Resetowanie marginesów dla body i html */
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Stylowanie głównego kontenera (body) */
body {
  display: flex;
  flex-direction: column;
}

/* Stylowanie głównej treści strony */
main {
  flex: 1; /* Główna treść zajmuje całą dostępną przestrzeń */
}

/* Stylowanie stopki (footer) */
footer {
  flex-shrink: 0; /* Zapobieganie zbytniemu kurczeniu stopki */
}

.test {
  filter: brightness(80%);
  opacity: 25%;
}

.background-home{
  filter: brightness(100%);
  opacity: 10%;
}

.background-calendar{
display: none;
}

@media only screen and (max-width: 1000px) {
  .test {
    display: none;
  }

  .background-home{
    display: none;
  }

  .background-calendar{
    display: none;
  }
}
