<body>
<header>
  <app-top-app-bar></app-top-app-bar>
</header>

<main>
  <div style="position: fixed; bottom: 1vw; left: 57vw; z-index: 0">
    <img src="assets/tlo2.png" width="7000000vw" [ngClass]="{
  'background-home': isLessColorsComponentActive(),
  'background-calendar': isNotShowComponentActive(),
  'test': !isLessColorsComponentActive() && !isNotShowComponentActive()
}">
  </div>
  <div style="position: fixed; bottom: 1vw; right: 57vw; z-index: 0">
    <img src="assets/tlo1.png" width="7000000vw" [ngClass]="{
  'background-home': isLessColorsComponentActive(),
  'background-calendar': isNotShowComponentActive(),
    'test': !isLessColorsComponentActive() && !isNotShowComponentActive()
}">
  </div>

  <div class="rest" >
    <router-outlet>
    </router-outlet>
  </div>

</main>

<footer class="footer"><app-footer-app></app-footer-app></footer>
</body>
