button {
  font-size: var(--14-font); /* Set the font size */
  font-weight: 500; /* Set the font weight */
  text-transform: uppercase; /* Make text uppercase */
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
}

.action-button {
  justify-self: center;
}
