<ngx-spinner bdColor = "rgba(0, 0, 0, 0.9)" size = "large" color = "#009688" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Wysyłanie </p></ngx-spinner>

<div class="page-container">
    <mat-card appearance="outlined" class="large-card large-card-size row-container">
        <mat-card-header class="row-item">
            <div class="row-item">
                <h2 class="title">Zgłaszenie zmiany hasła</h2>
            </div>
        </mat-card-header>
        <mat-card-content class="row-item card-content-spacing">
            <form class="form-container" [formGroup]="emailForm">
                <div class="row-container">
                    <div class="row-item">
                        <mat-form-field class="full-width">
                            <input matInput formControlName="email" placeholder="Email" required>
                            <mat-label>Email</mat-label>
                            <mat-error *ngFor="let error of validationErrors('email')">
                                {{ error.message }}
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="row-item button-section">
                        <button mat-raised-button class="button" color="primary" type="submit" (click)="confirm()">POTWIERDŻ</button>
                    </div>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>
