/* garden-plot-details.component.css */
@import '../../../../styles';
.details-card {
  margin: 0 auto; /* Wyśrodkowanie karty */
  position: fixed;
  top: 50%; /* Wyśrodkowanie w pionie */
  left: 50%; /* Wyśrodkowanie w poziomie */
  transform: translate(-50%, -50%); /* Wyśrodkowanie w poziomie i pionie */
  width: 60%;
  -webkit-box-shadow: 0px 3px 15px -1px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 3px 15px -1px rgba(66, 68, 90, 1);
  box-shadow: 0px 3px 15px -1px rgba(66, 68, 90, 1);
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 1%;
  background-color: #BFB
}

$background: #EEE;


.center-item {
  flex: 1;
  width: 80%;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.title {
  text-align: center;
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
}


.center-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}

.button-color{
  background-color: $background;
}

.margin {
  margin-top: 16px;
  margin-bottom:  16px;
}

.row-container {
  display: flex; /* Use flexbox for layout */
  flex-direction: column; /* Arrange items in a row */
  justify-content: space-between; /* Distribute items evenly along the row */
  width: 100%;
  align-items: center;
}

.full-width {
  flex: 1;
  margin-right: 10px; /* Adjust as needed for spacing */
  width: 100%;
}
