<div class="page-container">
  <mat-card-header class="row-container">
    <div class="row-item">
      <h2 class="title">Dostępne działki</h2>
    </div>
  </mat-card-header>
  <div class="">
    <div class="search-field">
      <mat-form-field>
        <input
          matInput
          placeholder="Szukaj"
          [formControl]="searchControl"
          [matAutocomplete]="auto"
          (input)="updateSearchControl($event)"
        />
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of gardenOffersNames" [value]="option">
            {{ option }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <div class="row-item column-container">
      <div class="column-item">
        <mat-label>Cena</mat-label>
        <mat-slider discrete min="200" max="800">
          <input value="300" matSliderStartThumb>
          <input value="400" matSliderEndThumb>
        </mat-slider>
      </div>
      <div class="column-item">
        <mat-label>Powierzchnia</mat-label>
        <mat-slider discrete min="200" max="800">
          <input value="300" matSliderStartThumb>
          <input value="400" matSliderEndThumb>
        </mat-slider>
      </div>
      <div class="column-item">
        <mat-label>Koszt dzierżawy</mat-label>
        <mat-slider discrete min="200" max="800">
          <input value="300" matSliderStartThumb>
          <input value="400" matSliderEndThumb>
        </mat-slider>
      </div>
    </div>
    <div class="">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-up" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5zm-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5z"/>
      </svg>
      <mat-label> Sortuj według</mat-label>
      <mat-select>
        <mat-option value="newest">Najnowsze</mat-option>
        <mat-option value="oldest">Najstarsze</mat-option>
        <mat-option value="price">Cena</mat-option>
      </mat-select>
    </div>
    <mat-divider></mat-divider>

    <div class="row-item">
      <app-garden-offer *ngFor="let offer of this.gardenOffers" [offer]="offer"></app-garden-offer>
      <app-paginator
        #paginator
        [loadDataFunction]="fetchData.bind(this)"
        [totalItemsCount]="this.totalOffersCount"
        [pageSize]="this.defaultPageSize"
      ></app-paginator>
    </div>
  </div>
  <button mat-fab color="primary" class="floating-button" (click)="createOffer()" [disabled]="isCreatingOffer">
    <mat-icon>add</mat-icon>
  </button>
</div>
