.page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin-top: 16px;
  text-align: center;
}

.tag-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1; /* Allow items to grow and take equal space */
  margin-right: 10px; /* Adjust as needed for spacing between items */
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.row-item {
  flex: 1; /* Allow items to grow and take equal space */
  margin-right: 10px; /* Adjust as needed for spacing between items */
  width: 60%;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.row-container {
  display: flex; /* Use flexbox for layout */
  flex-direction: column; /* Arrange items in a row */
  justify-content: space-between; /* Distribute items evenly along the row */
  width: 100%;
  align-items: center;
}

.example-chip-list {
  width: 100%;
}

.chip-section {
  width: auto !important;
}

.floating-button {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 2;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  transition: background-color 0.3s, transform 0.2s;
  cursor: pointer;
}

.floating-button.active {
  transform: scale(1.1);
}

.floating-button mat-icon {
  color: #ffffff;
}

@media only screen and (max-width: 800px) {
  .floating-button {
    bottom: 20px;
    right: 20px;
  }
  .row-item {
    width: 95%;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1100px) {
  .floating-button {
    bottom: 20px;
    right: 20px;
  }
  .row-item {
    width: 85%;
  }
}
