@import "../../../../../assets/theme.scss";

.card {
  box-shadow: 0 3px 15px -1px rgb(156, 158, 171);
  margin-bottom: 20px;
}

.custom-chip {
  background-color: map-get($rod-manager-ui-primary, 500); /* Set the background color to indicate selection */
  color: white !important; /* Set the text color to make it readable on the background */
}

.title-field{
  min-width: 300px;
}

.chip {
  display: inline-flex;
  align-items: center;
  background-color: map-get($rod-manager-ui-primary, 500);
  color: whitesmoke;
  padding: 4px 8px;
  border-radius: 16px;
  margin: 4px;
  font-size: var(--14-font);
  height: fit-content;
}

.col-container {
  display: flex;
  justify-content: space-between;
}

.submit-button {
  display: flex;
  justify-content: end;
  margin-right: 15px;
}

.cancel-button {
  display: flex;
  justify-content: start;
  margin-left: 15px;
}

.col-item {
  flex: 1;
}

.tag-container {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.mat-header {
  width: 100%;
}

.title {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 8px;
}

iframe.ql-video {
  width: 200px;
  height: 200px;
}

.chip-text {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
}
