.page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.large-card-size {
  width: 60%;
  max-width: 1000px;
  align-self: center;
  -webkit-box-shadow: 0px 3px 15px -1px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 3px 15px -1px rgba(66, 68, 90, 1);
  box-shadow: 0px 3px 15px -1px rgba(66, 68, 90, 1);
  align-content: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.inter-card-size {
  width: 30%;
  align-self: center;
  -webkit-box-shadow: 0px 3px 15px -1px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 3px 15px -1px rgba(66, 68, 90, 1);
  box-shadow: 0px 3px 15px -1px rgba(66, 68, 90, 1);
  align-content: center;
  margin-top: 5%;
  margin-bottom: 2%;
}

.employers-card-size {
  width: 80%;
  align-self: center;
  -webkit-box-shadow: 0px 3px 15px -1px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 3px 15px -1px rgba(66, 68, 90, 1);
  box-shadow: 0px 3px 15px -1px rgba(66, 68, 90, 1);
  align-content: center;
  margin-top: 5%;
  margin-bottom: 10%;
}

.description-card-size{
  width: 80%;
  align-self: center;
  -webkit-box-shadow: 0px 3px 15px -1px rgba(200, 200, 200, 1);
  -moz-box-shadow: 0px 3px 15px -1px rgba(200, 200, 200, 1);
  box-shadow: 0px 3px 15px -1px rgba(200, 200, 200, 1);
  align-content: center;
  margin-top: 5%;
}

.center-item {
  flex: 1;
  width: 80%;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.title {
  text-align: center;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.document {
  margin-bottom: 10px;
  text-align: center;
  font-size: var(--30-font);
}

.full-width {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.title-managment {
  font-weight: bold;
  font-size: var(--25-font);
  text-align: center;
  margin-bottom: 10px;
}

.floating-button {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 2;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  transition: background-color 0.3s, transform 0.2s;
  cursor: pointer;
}

.floating-button.active {
  transform: scale(1.1);
}

.floating-button mat-icon {
  color: #ffffff;
}

a:hover {
  cursor: pointer;
}

.description{
  font-size: var(--14-font);
  text-align: center;
}

.editButton {
  position: absolute;
  right: -60px;
  bottom: 0;
  scale: 0.7;
}



@media only screen and (max-width: 500px){
  .large-card-size {
    width: 95%;

  }
  .inter-card-size {
    min-width: 300px;
    width: 30%;
    max-width: 90%;
    margin-bottom: 5%;
  }
  .employers-card-size {
    width: 100%;
  }
  .floating-button {
    bottom: 20px;
    right: 20px;
  }
  .title {
    font-size: var(--20-font);
  }

  .title-managment, .document {
    font-size: var(--18-font);
    margin-bottom: 5px;
  }

  .mat-mdc-card-header {
    padding: 0px 0px 0;
  }
  .editButton {
    right: -30px;
  }
}
@media only screen and (min-width: 500px) and (max-width: 800px){
  .large-card-size {
    width: 95%;
  }
  .inter-card-size {
    min-width: 300px;
    width: 30%;
    max-width: 90%;
    margin-bottom: 5%;
  }
  .employers-card-size {
    width: 100%;
  }
  .floating-button {
    bottom: 20px;
    right: 20px;
  }
  .title {
    font-size: var(--22-font);
  }
  .document {
    font-size: var(--20-font);
  }
  .title-managment {
    font-size: var(--20-font);
    margin-bottom: 5px;
  }

  .mat-mdc-card-header {
    padding: 0px 0px 0;
  }
}
@media only screen and (min-width: 800px)  and (max-width: 1100px){
  .large-card-size, .employers-card-size{
    width: 90%;
  }
  .inter-card-size{
    margin-bottom: 5%;
  }

  .title {
    font-size: var(--24-font);
  }
  .document {
    font-size: var(--22-font);
  }
  .title-managment {
    font-size: var(--20-font);
  }
  .floating-button {
    bottom: 20px;
    right: 20px;
  }
  .mat-mdc-card-header {
    padding-top:5px
  }
}
