<ngx-spinner bdColor="rgba(0, 0, 0, 0.3)" size="large" color="#009688" type="square-jelly-box" [fullScreen]="true"><p
  style="color: white"> Ładowanie </p></ngx-spinner>
<div class="page-container">
  <mat-card class="large-card-size">
    <mat-card-header class="row-container">
      <div class="center-item row-item">
        <h2 class="title">Liczniki</h2>
      </div>
      <div>
        <mat-tab-group mat-align-tabs="center" class="row-item" (selectedIndexChange)="changeWater()">
          <mat-tab label="Woda" [ngClass]="{'active-tab': showWater}"></mat-tab>
          <mat-tab label="Prąd" [ngClass]="{'active-tab': !showWater}"></mat-tab>
        </mat-tab-group>
      </div>

    </mat-card-header>
    <mat-card-content>
      <table mat-table [dataSource]="showWater ? dataSourceWater : dataSourceElectric" class="mainTable">
        <ng-container matColumnDef="addressC">
          <th mat-header-cell *matHeaderCellDef>Adres</th>
          <td mat-cell *matCellDef="let counter">{{ counter.addressC }}</td>
        </ng-container>

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>Numer seryjny</th>
          <td mat-cell *matCellDef="let counter">{{ counter.id }}</td>
        </ng-container>

<!--        <ng-container matColumnDef="gardenPlotID">-->
<!--          <th mat-header-cell *matHeaderCellDef>ID Działki</th>-->
<!--          <td mat-cell *matCellDef="let counter">{{ counter.gardenPlotID }}</td>-->
<!--        </ng-container>-->

        <ng-container matColumnDef="measurement">
          <th mat-header-cell *matHeaderCellDef>Poprzedni pomiar</th>
          <td mat-cell *matCellDef="let counter">{{ counter.measurement}}</td>
        </ng-container>

        <ng-container matColumnDef="add">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let counter" class="icon-size">
            <button mat-icon-button class="icon-button" (click)="openMeasurementDialog(counter)">
              <mat-icon class="edit-icon">edit</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let counter; columns: displayedColumns"></tr>
      </table>
      <div *ngIf="showWater">
        <app-paginator
          #paginatorWater
          [loadDataFunction]="fetchDataWater.bind(this)"
          [totalItemsCount]="this.totalWaterCount"
          [pageSize]="this.defoultpageSize"
        ></app-paginator>
      </div>

      <div *ngIf="!showWater">
        <app-paginator
          #paginatorElectric
          [loadDataFunction]="fetchDataElectric.bind(this)"
          [totalItemsCount]="this.totalElectricCount"
          [pageSize]="this.defoultpageSize"
        ></app-paginator>
      </div>
    </mat-card-content>
  </mat-card>
</div>


<button mat-fab color="primary" class="floating-button" (click)="openAddCounterDialog()">
  <mat-icon>add</mat-icon>
</button>
