@import '../../../assets/theme.scss';

.large-card-size {
  width: 70%;
  align-self: center;
  -webkit-box-shadow: 0px 3px 15px -1px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 3px 15px -1px rgba(66, 68, 90, 1);
  box-shadow: 0px 3px 15px -1px rgba(66, 68, 90, 1);
  align-content: center;
  margin-top: 5%;
  margin-bottom: 5%;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 30px;
}

$background: #EEE;

.form-card {
  width: 100%;
  align-self: center;
  -webkit-box-shadow: 0px 3px 15px -1px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 3px 15px -1px rgba(66, 68, 90, 1);
  box-shadow: 0px 3px 15px -1px rgba(66, 68, 90, 1);
  align-content: center;
  margin-top: 4%;
  margin-bottom: 4%;
  padding: 2%;
  background-color: $background;
}

.center-item {
  flex: 1;
  width: 80%;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.title {
  text-align: center;
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
}

.center-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}

.button-color {
  background-color: $background;
}

.center-item {
  flex: 1;
  width: 80%;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.full-width {
  flex: 1;
  margin-right: 10px;
  width: 100%;
}

.page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.floating-button {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 2;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  transition: background-color 0.3s, transform 0.2s;
  cursor: pointer;
}

.floating-button.active {
  transform: scale(1.1);
}

.floating-button mat-icon {
  color: #ffffff;
}

.col-container {
  display: flex; /* Use flexbox for layout */
  //flex-direction: column; /* Arrange items in a col */
  align-items: flex-end; /* Align items to the bottom */
  width: 100%;
}

.country-code {
  //flex: 0.5; /* Adjust the width as needed */
  width: 80px;
}

.col-item {
  flex: 1;
}


.file-card-size {
  width: 70%;
  align-self: center;
  -webkit-box-shadow: 0px 3px 15px -1px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 3px 15px -1px rgba(66, 68, 90, 1);
  box-shadow: 0px 3px 15px -1px rgba(66, 68, 90, 1);
  align-content: center;
  margin-bottom: 5%;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 30px;
}

.left-button {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 7px;
  margin-bottom: 7px;
}

a:hover {
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .large-card-size {
    width: 99%;
    margin-top: 5%;
    padding-bottom: 30px;
  }
  .file-card-size {
    width: 95%;
  }
  .description {
    display: none;
  }
}
