<mat-toolbar color="primary">
  <div class="title">
    <span>ROD we Wrocławiu</span>
  </div>
  <div class="options">
    <button mat-button (click)="navigate('home')">Strona główna</button>
    <span>/</span>
    <button mat-button>Dostępne działki</button>
    <span>/</span>
    <button mat-button>Kalendarz</button>
    <div *appHasRole="[Role.ROLE_GARDENER]">
      <span>/</span>
      <button mat-button>Moja działka</button>
    </div>
    <div *ngIf="isLoggedIn()">
      <span>/</span>
      <button mat-button>Głosowania</button>
    </div>
    <div *ngIf="isLoggedIn()">
      <span>/</span>
      <button mat-button>Skargi</button>
    </div>
    <div>
      <span>/</span>
      <button mat-button>O Ogrodzie</button>
    </div>
    <div *appHasRole="[Role.ROLE_MANAGER, Role.ROLE_EMPLOYEE, Role.ROLE_ADMIN]">
      <span>/</span>
      <button mat-button [matMenuTriggerFor]="menu">Więcej</button>
    </div>

    <!-- Define the menu -->
    <mat-menu #menu="matMenu" class="mat-menu-custom-style">
      <div *appHasRole="[Role.ROLE_MANAGER]">
        <button mat-menu-item class="button-menu">Dokumenty</button>
        <mat-divider></mat-divider>
      </div>
      <div *appHasRole="[Role.ROLE_MANAGER]">
        <button mat-menu-item class="button-menu">Lista działek</button>
        <mat-divider></mat-divider>
      </div>
      <div *appHasRole="[Role.ROLE_GARDENER]">
        <button mat-menu-item class="button-menu">Opłaty</button>
        <mat-divider></mat-divider>
      </div>
      <div *appHasRole="[Role.ROLE_EMPLOYEE, Role.ROLE_MANAGER]">
        <button mat-menu-item class="button-menu">Liczniki</button>
      </div>
      <div *appHasRole="[Role.ROLE_MANAGER, Role.ROLE_ADMIN]">
        <mat-divider></mat-divider>
        <button mat-menu-item class="button-menu">Lista użytkowników</button>
      </div>
      <!-- Add more menu items as needed -->
    </mat-menu>
  </div>
  <div class="auth-buttons">
    <div *ngIf="isLoggedIn(); else loggedOut">
      <app-text-button text="Wyloguj" color="accent" (click)="logout()"></app-text-button>
    </div>
    <ng-template #loggedOut>
      <app-text-button text="Zaloguj się" color="primary" (click)="navigate('login')"></app-text-button>
      <app-text-button text="Zarejestruj się" color="accent" (click)="navigate('register')"></app-text-button>
    </ng-template>
  </div>
</mat-toolbar>

