<mat-toolbar color="primary">
  <div class="title">
    <span>ROD we Wrocławiu</span>
  </div>
  <div class="options">
    <button mat-button (click)="navigate('home')">Strona główna</button>
    <span>/</span>
    <button mat-button>Dostępne działki</button>
    <span>/</span>
    <button mat-button>Kalendarz</button>
    <span>/</span>
    <button mat-button [matMenuTriggerFor]="menu">O Ogrodzie</button>

    <!-- Define the menu -->
    <mat-menu #menu="matMenu" class="mat-menu-custom-style">
      <button mat-menu-item class="button-menu">O OGRODZIE</button>
      <mat-divider></mat-divider>
      <button mat-menu-item class="button-menu">DOKUMENTY</button>
      <mat-divider></mat-divider>
      <button mat-menu-item class="button-menu">LISTA DZIAŁEK</button>
      <mat-divider></mat-divider>
      <button mat-menu-item class="button-menu">OPŁATY</button>
      <mat-divider></mat-divider>
      <button mat-menu-item class="button-menu">LICZNIKI</button>
      <mat-divider></mat-divider>
      <button mat-menu-item class="button-menu">LISTA UŻYTKOWNIKÓW</button>
      <!-- Add more menu items as needed -->
    </mat-menu>
  </div>
  <div class="auth-buttons">
    <app-text-button text="Zaloguj się" color="primary" (click)="navigate('login')"></app-text-button>
    <app-text-button text="Zarejestruj się" color="accent" (click)="navigate('register')"></app-text-button>
  </div>
</mat-toolbar>

