<div class="page-container">
  <mat-card class="large-card-size">
    <mat-card-header class="row-container">
      <div class="center-item">
        <h2 class="title">Zakończone Głosowania</h2>
      </div>

    </mat-card-header>
    <mat-card-content>

      <div *ngFor="let vote of finishedVotes">

        <div class="page-container">
          <mat-card class="vote-card-size">
            <mat-card-header class="row-container">
              <div class="left-item">
                <h2 class="title2">{{ vote.title }}</h2>
                <h2 class="title3">{{ vote.description }}</h2>
              </div>
            </mat-card-header>
            <mat-card-content>
              <div #chart></div>
              <hr>
            </mat-card-content>
            <mat-card-footer>
              <h2 class="title4">
                {{vote.finishDate | date:'dd.MM.yyyy'}}
              </h2>
            </mat-card-footer>
          </mat-card>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
