// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.
@import 'node_modules/quill/dist/quill.bubble.css';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$rod-manager-ui-primary: mat.define-palette(mat.$teal-palette);
$rod-manager-ui-accent: mat.define-palette(mat.$gray-palette);

// The warn palette is optional (defaults to red).
$rod-manager-ui-warn: mat.define-palette(mat.$red-palette);


// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$rod-manager-ui-theme: mat.define-light-theme((
  color: (
    primary: $rod-manager-ui-primary,
    accent: $rod-manager-ui-accent,
    warn: $rod-manager-ui-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($rod-manager-ui-theme);

/* You can add global styles to this file, and also import other style files */


/* TODO(mdc-migration): The following rule targets internal classes of menu that may no longer apply for the MDC version.*/
.mat-menu-custom-style {
  --mat-menu-container-color: black;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
img {
  max-width: 100%; height: auto
}

.cal-month-view .custom-event {
  width: 100%;
  height: auto;
  border-radius: 20%;
  display: inline-block;
  margin: 5px;
}

.custom-event {
  .mat-mdc-button.mat-mdc-button-base, .mat-mdc-raised-button.mat-mdc-button-base, .mat-mdc-unelevated-button.mat-mdc-button-base, .mat-mdc-outlined-button.mat-mdc-button-bas {
    height: 1.2rem;
    //width: 100%;
  }
}


/* Importing Bootstrap SCSS file. */
@import "node_modules/bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";
